@import './base.css';

main {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
}

main h1 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
}

.calendar-container {
  max-height: 500px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper {
  width: 450px;
  background: #fff;
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons {
  display: flex;
  flex-grow: 1;
}

header #currentMonth {
  margin-left: 10px;
}

header .icons .mr-auto {
  margin-right: auto;
}

header .icons button {
  height: 38px;
  width: 38px;
  margin: 0px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  vertical-align: center;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
  border: none;
  background: none;
}

header .icons button:hover {
  background: #f2f2f2;
}

.icons button:last-child {
  margin-right: -10px;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar {
  padding: 20px;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  font-weight: 700;
  color: #702f8a;
}

.days li.inactive {
  color: #aaa;
  font-weight: 500;
}
.days li.active {
  color: #fff;
}
.days li.unavailable {
  font-weight: 500;
  color: #fff;
}
.days li::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #9b59b6;
}
.days li.unavailable::before {
  background: #333;
}
.days li:not(.active):hover::before {
  background: #f2f2f2;
}

.activityList {
  background: var(--color-background);
  color: #fff;
  min-width: 400px;
  max-width: 450px;
  padding: 25px 30px 10px;
  overflow-y: scroll;
}

.activityList > p {
  font-size: 1.45rem;
  font-weight: 500;
}

.activityList ul {
  list-style: none;
  padding: 20px 0;
}

.activityItem {
  margin-left: 10px;
}

.activityItem:not(:last-child)::after {
  content: ' ';
  display: block;
  background: var(--color-border);
  margin-top: 10px;
  height: 3px;
  border-radius: 5px;
  width: 100%;
}

.activityItem:not(:first-child) h2 {
  margin-top: 10px;
}

.a-ploeg-listItem,
.b-ploeg-listItem,
.c-ploeg-listItem,
.algemeen-listItem {
  position: relative;
}

.a-ploeg-listItem::before,
.b-ploeg-listItem::before,
.c-ploeg-listItem::before,
.algemeen-listItem::before {
  content: ' ';
  position: absolute;
  top: 5%;
  left: -10px;
  display: block;
  width: 3px;
  border-radius: 5px;
  height: 1.6rem;
}

.a-ploeg-listItem::before {
  background: var(--a-ploeg);
}
.b-ploeg-listItem::before {
  background: var(--b-ploeg);
}
.c-ploeg-listItem::before {
  background: var(--c-ploeg);
}
.algemeen-listItem::before {
  background: var(--algemeen);
}

.calendarActivityPreview {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-left: auto;
  margin-right: auto;
}

.a-ploeg-calendarItem,
.b-ploeg-calendarItem,
.c-ploeg-calendarItem,
.algemeen-calendarItem {
  width: 20px;
  height: 5px;
}
.a-ploeg-calendarItem {
  background: var(--a-ploeg);
}

.b-ploeg-calendarItem {
  background: var(--b-ploeg);
}

.c-ploeg-calendarItem {
  background: var(--c-ploeg);
}

.algemeen-calendarItem {
  background: var(--algemeen);
}

@media screen and (max-width: 876px) {
  main {
    align-items: flex-start;
    padding: 0 20px;
    justify-content: center;
  }

  main h1 {
    margin-top: 20px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .flex-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .wrapper {
    width: auto;
    background: #fff;
  }

  .activityList {
    background: var(--color-background);
    color: #fff;
    padding: 25px 30px 10px;
    max-width: none;
    width: 100%;
    overflow-y: visible;
  }
}
